<a href="https://colab.research.google.com/github/asma-mo/Estate-Elite-Insights/blob/rahaf_branch/KPIs/python_code/KPIs_POI_tourist_establishments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
df=pd.read_csv("/content/POI_tourist_establishments.csv")

In [5]:
# Perform group by and count
grouped_data = df.groupby('municipality_code').size().reset_index(name='poi_count')

# Sort the result in ascending order based on poi_count
sorted_data = grouped_data.sort_values('poi_count', ascending=True)

# Print the sorted result
print(sorted_data)

     municipality_code  poi_count
4413             43047          1
5103             50551          1
5100             50539          1
5094             50493          1
5092             50484          1
...                ...        ...
1241             13055        115
6874             69123        129
6412             65286        156
485              06088        158
7435             75056       1340

[8828 rows x 2 columns]

In [7]:
df.to_csv("KPIs_POI_tourist_establishments", index=False)