<a href="https://colab.research.google.com/github/asma-mo/Estate-Elite-Insights/blob/najwa_branch/data_cleaning/python_code/Geographical_referential.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Possible outcome:

• Ambiguous columns names has altered

• PK test is done successfully
• Data types of each column are correct
• There is no missing Values (NaN Values)

• There is no duplicated rows
• Unique values of columns are checked
• Unnecessary columns are dropped

In [1]:
from google.colab import auth
import pandas as pd
auth.authenticate_user()
project_id="data-analytics-bootcamp-363212"
data="prello"
table="geographical_referential"
query =  f"SELECT * FROM `{project_id}.{data}.{table}`"
geographical_referential=pd.read_gbq(query, project_id)
geographical_referential

,municipality_code,city_name,city_name_normalized,municipality_type,latitude,longitude,department_code,epci_code,country_code,department_name
0,01005,Ambérieux-en-Dombes,AMBERIEUX EN DOMBES,municipality,45.996180,4.912273,01,200042497.0,01,Ain
1,01021,Ars-sur-Formans,ARS SUR FORMANS,municipality,45.993461,4.821996,01,200042497.0,01,Ain
2,01030,Beauregard,BEAUREGARD,municipality,46.000858,4.756007,01,200042497.0,01,Ain
3,01105,Civrieux,CIVRIEUX,municipality,45.922467,4.886338,01,200042497.0,01,Ain
4,01157,Fareins,FAREINS,municipality,46.020998,4.762008,01,200042497.0,01,Ain
...,...,...,...,...,...,...,...,...,...,...
34992,97614,Ouangani,OUANGANI,municipality,-12.837096,45.137910,976,200059871.0,01,Mayotte
34993,97616,Sada,SADA,municipality,-12.861165,45.118550,976,200059871.0,01,Mayotte
34994,97617,Tsingoni,TSINGONI,municipality,-12.782167,45.134428,976,200059871.0,01,Mayotte
34995,97608,Dzaoudzi,DZAOUDZI,municipality,-12.779167,45.282265,976,200050532.0,01,Mayotte
34996,97615,Pamandzi,PAMANDZI,municipality,-12.796135,45.284206,976,200050532.0,01,Mayotte

In [9]:
import pandas as pd
df= pd.DataFrame(geographical_referential)

In [14]:
 geographical_referential.rename(columns={'epci_code': 'code_ administrative_services'} , inplace=True)

In [15]:
print(df)

      municipality_code            city_name city_name_normalized  \
0                 01005  Ambérieux-en-Dombes  AMBERIEUX EN DOMBES
1                 01021      Ars-sur-Formans      ARS SUR FORMANS
2                 01030           Beauregard           BEAUREGARD
3                 01105             Civrieux             CIVRIEUX
4                 01157              Fareins              FAREINS
...                 ...                  ...                  ...
34992             97614             Ouangani             OUANGANI
34993             97616                 Sada                 SADA
34994             97617             Tsingoni             TSINGONI
34995             97608             Dzaoudzi             DZAOUDZI
34996             97615             Pamandzi             PAMANDZI

      municipality_type   latitude  longitude department_code  \
0          municipality  45.996180   4.912273              01
1          municipality  45.993461   4.821996              01
2          municipality  46.000858   4.756007              01
3          municipality  45.922467   4.886338              01
4          municipality  46.020998   4.762008              01
...                 ...        ...        ...             ...
34992      municipality -12.837096  45.137910             976
34993      municipality -12.861165  45.118550             976
34994      municipality -12.782167  45.134428             976
34995      municipality -12.779167  45.282265             976
34996      municipality -12.796135  45.284206             976

       code_ administrative_services country_code department_name
0                        200042497.0           01             Ain
1                        200042497.0           01             Ain
2                        200042497.0           01             Ain
3                        200042497.0           01             Ain
4                        200042497.0           01             Ain
...                              ...          ...             ...
34992                    200059871.0           01         Mayotte
34993                    200059871.0           01         Mayotte
34994                    200059871.0           01         Mayotte
34995                    200050532.0           01         Mayotte
34996                    200050532.0           01         Mayotte

[34997 rows x 10 columns]

In [16]:
# Drop column
df.drop(columns=['country_code'], inplace=True)

In [17]:
print(df)

      municipality_code            city_name city_name_normalized  \
0                 01005  Ambérieux-en-Dombes  AMBERIEUX EN DOMBES
1                 01021      Ars-sur-Formans      ARS SUR FORMANS
2                 01030           Beauregard           BEAUREGARD
3                 01105             Civrieux             CIVRIEUX
4                 01157              Fareins              FAREINS
...                 ...                  ...                  ...
34992             97614             Ouangani             OUANGANI
34993             97616                 Sada                 SADA
34994             97617             Tsingoni             TSINGONI
34995             97608             Dzaoudzi             DZAOUDZI
34996             97615             Pamandzi             PAMANDZI

      municipality_type   latitude  longitude department_code  \
0          municipality  45.996180   4.912273              01
1          municipality  45.993461   4.821996              01
2          municipality  46.000858   4.756007              01
3          municipality  45.922467   4.886338              01
4          municipality  46.020998   4.762008              01
...                 ...        ...        ...             ...
34992      municipality -12.837096  45.137910             976
34993      municipality -12.861165  45.118550             976
34994      municipality -12.782167  45.134428             976
34995      municipality -12.779167  45.282265             976
34996      municipality -12.796135  45.284206             976

       code_ administrative_services department_name
0                        200042497.0             Ain
1                        200042497.0             Ain
2                        200042497.0             Ain
3                        200042497.0             Ain
4                        200042497.0             Ain
...                              ...             ...
34992                    200059871.0         Mayotte
34993                    200059871.0         Mayotte
34994                    200059871.0         Mayotte
34995                    200050532.0         Mayotte
34996                    200050532.0         Mayotte

[34997 rows x 9 columns]

In [23]:
# Check for missing values in each column
missing_values = df.isnull().sum()
print(missing_values)

municipality_code                 0
city_name                         0
city_name_normalized              0
municipality_type                 0
latitude                          0
longitude                         0
department_code                   0
code_ administrative_services    52
department_name                   0
dtype: int64

In [27]:
# Drop rows with missing values
df_cleaned_rows = df.dropna()

# Display the DataFrame after removing rows with missing values
print("DataFrame after removing rows with missing values:")
print(df_cleaned_rows)

DataFrame after removing rows with missing values:
      municipality_code            city_name city_name_normalized  \
0                 01005  Ambérieux-en-Dombes  AMBERIEUX EN DOMBES
1                 01021      Ars-sur-Formans      ARS SUR FORMANS
2                 01030           Beauregard           BEAUREGARD
3                 01105             Civrieux             CIVRIEUX
4                 01157              Fareins              FAREINS
...                 ...                  ...                  ...
34992             97614             Ouangani             OUANGANI
34993             97616                 Sada                 SADA
34994             97617             Tsingoni             TSINGONI
34995             97608             Dzaoudzi             DZAOUDZI
34996             97615             Pamandzi             PAMANDZI

      municipality_type   latitude  longitude department_code  \
0          municipality  45.996180   4.912273              01
1          municipality  45.993461   4.821996              01
2          municipality  46.000858   4.756007              01
3          municipality  45.922467   4.886338              01
4          municipality  46.020998   4.762008              01
...                 ...        ...        ...             ...
34992      municipality -12.837096  45.137910             976
34993      municipality -12.861165  45.118550             976
34994      municipality -12.782167  45.134428             976
34995      municipality -12.779167  45.282265             976
34996      municipality -12.796135  45.284206             976

       code_ administrative_services department_name
0                        200042497.0             Ain
1                        200042497.0             Ain
2                        200042497.0             Ain
3                        200042497.0             Ain
4                        200042497.0             Ain
...                              ...             ...
34992                    200059871.0         Mayotte
34993                    200059871.0         Mayotte
34994                    200059871.0         Mayotte
34995                    200050532.0         Mayotte
34996                    200050532.0         Mayotte

[34945 rows x 9 columns]

In [29]:
# Check for missing values in each column
missing_values = df.isnull().sum()
print(missing_values)

municipality_code                0
city_name                        0
city_name_normalized             0
municipality_type                0
latitude                         0
longitude                        0
department_code                  0
code_ administrative_services    0
department_name                  0
dtype: int64

In [30]:
# Check for duplicated rows
duplicated_rows = df[df.duplicated()]

# Display the duplicated rows, if any
print("Duplicated rows:")
print(duplicated_rows)

Duplicated rows:
Empty DataFrame
Columns: [municipality_code, city_name, city_name_normalized, municipality_type, latitude, longitude, department_code, code_ administrative_services, department_name]
Index: []

In [32]:
# Get the number of unique values in each column
unique_values_per_column = df.nunique()
print("Number of unique values in each column:")
print(unique_values_per_column)

Number of unique values in each column:
municipality_code                34945
city_name                        32692
city_name_normalized             32474
municipality_type                    1
latitude                         34945
longitude                        34945
department_code                    100
code_ administrative_services     1255
department_name                    100
dtype: int64